@import "tailwindcss";

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Regular";
  src: url("/fonts/regular.otf");
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/medium.otf");
}

@font-face {
  font-family: "SemiBold";
  src: url("/fonts/semibold.otf");
}

@font-face {
  font-family: "Bold";
  src: url("/fonts/bold.otf");
}

* {
  scrollbar-color: var(--color-dark-100) var(--color-black);
}

:root {
  --gradient-color: linear-gradient(
    to bottom right,
    #0894ff 0%,
    #c959dd 34%,
    #ff2e54 68%,
    #ff9004
  );
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme {
  --font-regular: "Regular";
  --font-medium: "Medium";
  --font-semibold: "SemiBold";
  --font-bold: "Bold";
  --color-primary: #0071e3;
  --color-dark-100: #86868b;
  --color-dark-200: #2e2e30;
  --color-light-100: #adb5bd;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  color: var(--color-dark-100);
  font-family: var(--font-semibold);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
}

@utility h3-semibold {
  @apply text-xl font-semibold text-dark-100;
}

@utility base-semibold {
  @apply text-base font-semibold text-dark-100;
}

@utility small-medium {
  @apply text-xs font-medium;
}

@layer components {
  header {
    @apply w-screen fixed top-0 left-0 z-50 flex-center bg-black min-h-[7vh];

    nav {
      @apply container px-5 mx-auto flex-between 2xl:px-0;

      img {
        @apply cursor-pointer hover:-translate-y-0.5 transition-all duration-300 ease-in-out;

        button {
          @apply bg-transparent border-none outline-none cursor-pointer;
        }
      }

      ul {
        @apply gap-8 flex-center;

        a {
          @apply hidden text-sm text-white transition-all duration-300 ease-in-out cursor-pointer md:block opacity-80 font-regular hover:opacity-100;
        }
      }
    }
  }

  #hero {
    @apply h-fit lg:h-[80vh] col-center mt-40 lg:mt-20 2xl:mt-[7vh];

    div {
      @apply relative z-10 col-center lg:translate-y-16;

      h1 {
        @apply font-semibold text-white lg:text-3xl 2xl:text-5xl;
      }

      img {
        @apply container w-2/3 mx-auto;
      }
    }

    video {
      @apply mx-auto lg:translate-y-5 2xl:translate-y-0;
    }

    button {
      @apply relative z-10 px-6 py-2 mt-10 mb-5 text-lg font-semibold text-white transition-all duration-300 ease-in-out rounded-full cursor-pointer bg-primary lg:mt-0 hover:bg-white hover:text-black;
    }

    p {
      @apply lg:h3-semibold base-semibold;
    }
  }

  #product-viewer {
    @apply container relative min-h-[93vh] mx-auto px-5 2xl:px-0 mt-40;

    h2 {
      @apply text-3xl font-semibold text-white lg:text-6xl;
    }

    .controls {
      @apply absolute z-50 -translate-x-1/2 bottom-40 lg:bottom-40 2xl:bottom-52 left-1/2;

      .info {
        @apply px-2 py-1 text-xs text-white rounded-lg bg-black/20;
      }

      .color-control {
        @apply gap-4 px-6 py-3 rounded-full flex-between bg-neutral-800;

        div {
          @apply rounded-full cursor-pointer size-7;
        }

        .active {
          @apply ring-5 size-5 ring-light-100;
        }
      }

      .size-control {
        @apply small-medium flex-between bg-neutral-800 rounded-full px-6 py-2.5 gap-2;

        div {
          @apply text-black bg-white rounded-full cursor-pointer size-8 flex-center;
        }
      }
    }

    #canvas {
      @apply !w-full !h-[80vh] lg:!h-dvh relative z-40;
    }
  }

  #showcase {
    @apply relative;

    .media {
      @apply relative lg:overflow-hidden;

      video {
        @apply object-cover object-center w-full;
      }

      .mask {
        @apply absolute top-0 h-full lg:-top-20 xl:top-0;

        img {
          @apply h-full scale-150 lg:scale-100;
          transform: matrix(80, 0, 0, 80, 0, 0);
        }

        @media (max-width: 1024px) {
          img {
            transform: matrix(1, 0, 0, 1, 0, 0);
          }
        }
      }
    }

    .content {
      @apply relative z-10 my-5 text-xl font-semibold bg-black lg:-mt-40 text-dark-100 lg:opacity-0;

      .wrapper {
        @apply container flex flex-col justify-center gap-20 px-5 pb-20 mx-auto 2xl:px-0 lg:flex-row;
      }

      h2 {
        @apply text-3xl font-semibold text-white lg:text-7xl;
      }

      h3 {
        @apply text-xl font-semibold text-white lg:text-5xl;
      }
    }
  }

  #performance {
    @apply relative flex flex-col items-center h-full pt-20 overflow-hidden w-dvw lg:pt-20;

    h2 {
      @apply max-w-2xl text-3xl font-semibold text-center text-white lg:text-6xl;
    }

    .wrapper {
      @apply w-7xl 2xl:w-[100rem] h-[50vh] lg:h-screen relative;

      img {
        @apply max-w-40 lg:max-w-[27rem] 2xl:max-w-[35rem] object-cover object-center;
      }

      .p1 {
        @apply absolute bottom-1/2 left-[23%] z-[1] max-sm:left-[33%];
      }

      .p2 {
        @apply absolute bottom-[40%] right-[17%] z-[3] max-sm:right-[37%];
      }

      .p3 {
        @apply absolute bottom-1/4 right-[15%] z-[2] max-sm:right-[35%];
      }

      .p4 {
        @apply absolute bottom-[15%] right-[10%] z-[1] max-sm:right-[30%];
      }

      .p5 {
        @apply absolute bottom-[20%] left-1/2 -translate-x-1/2 scale-150;
      }

      .p6 {
        @apply absolute bottom-1/4 left-1/4 z-[2] max-sm:left-[35%];
      }

      .p7 {
        @apply absolute bottom-[5%] left-[15%] z-[3] max-sm:left-[35%];
      }
    }

    .content {
      @apply max-w-xl mx-auto mt-24;

      p {
        @apply px-5 text-center translate-y-10 opacity-0 lg:h3-semibold base-semibold;
      }
    }
  }

  #features {
    @apply relative pt-40;

    h2 {
      @apply max-w-3xl mx-auto text-3xl font-semibold text-center text-white lg:text-7xl;
    }

    #f-canvas {
      @apply !w-full !h-dvh relative z-40;
    }

    .box {
      @apply absolute max-w-xs;

      p {
        @apply lg:h3-semibold base-semibold;
      }
    }
  }

  #highlights {
    @apply container mx-auto lg:py-40 max-lg:px-5;

    h2 {
      @apply max-w-3xl mx-auto text-3xl font-semibold text-center text-white lg:text-7xl;
    }

    h3 {
      @apply text-[#F5F5F7] font-semibold text-xl lg:text-3xl text-center mt-10;
    }

    .masonry {
      @apply grid grid-cols-1 lg:grid-cols-2 gap-5 mt-20 text-[#F5F5F7];

      .left-column {
        @apply flex flex-col justify-between gap-5 -translate-y-5 opacity-0;

        div:first-of-type {
          @apply h-full bg-[url(/highlight-bg.png)] bg-no-repeat bg-cover p-10 2xl:pt-32 lg:pt-20 rounded-3xl;

          p {
            @apply text-4xl font-semibold max-w-2xs;
          }
        }

        p {
          @apply text-4xl font-semibold max-w-2xs;
        }

        div:last-of-type {
          @apply bg-[#1D1D1F] p-10 rounded-3xl flex items-center gap-7;

          p {
            @apply font-semibold lg:text-2xl 2xl:text-3xl;
          }
        }
      }

      .right-column {
        @apply flex flex-col justify-between gap-5 -translate-y-5 opacity-0;

        p {
          @apply text-4xl font-semibold max-w-2xs;
        }
        .apple-gradient {
          @apply relative flex items-center p-10 rounded-3xl gap-7;

          background: #1d1d1f;
          background-clip: padding-box; /* !important */
          border: 3px solid transparent; /* !important */

          ::before {
            content: "";
            pointer-events: none;
            position: absolute;
            inset: 0px;
            z-index: -1;
            margin: -5px; /* !important */
            border-radius: 24px; /* !important */
            background: linear-gradient(
              91deg,
              #0096ff 0%,
              #bb64ff 42%,
              #f2416b 74%,
              #eb7500 100%
            );
          }

          p {
            @apply font-semibold lg:text-2xl 2xl:text-3xl;

            span {
              background: linear-gradient(
                91deg,
                #0096ff 0%,
                #bb64ff 42%,
                #f2416b 74%,
                #eb7500 100%
              );
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }

        div:last-of-type {
          @apply h-full bg-[#1D1D1F] p-10 2xl:pt-32 lg:pt-20 rounded-3xl;

          p {
            @apply max-w-sm text-4xl font-semibold;

            .green-gradient {
              background: linear-gradient(90deg, #35a98a 0%, #6dd400 100%);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }

  footer {
    @apply container mx-auto py-7 max-lg:px-5;

    .info {
      @apply flex-between;

      p {
        @apply text-sm font-medium;

        span {
          @apply text-primary mx-0.5;
        }
      }
    }

    hr {
      @apply my-7 text-[#424245];
    }

    .links {
      @apply flex flex-col justify-between gap-5 text-sm lg:flex-row lg:items-center max-lg:mt-5;

      ul {
        @apply lg:divide-x flex flex-col lg:flex-row gap-2.5;

        li {
          @apply transition-all duration-300 ease-in-out cursor-pointer lg:px-5 hover:text-primary;
        }
      }
    }
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
